.tagb{
    background-color:rgb(71, 71, 235,0.9);
    margin: 0 auto;
    display: block;
    height: 35px;
    width:100px;
   margin-top: 5%;
   margin-bottom: 5%;
border:none;
color: honeydew;
border-radius: 5px;
   
}

.tagText{
    margin-top: 2%;
height: 30px;

border: none;
background-color: rgb(220, 220, 220);
    width: 300px;
}
.tagc{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.aiTag{
    background-color:rgb(71, 71, 235,0.9);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 4%;
  font-size: large;
    color:white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.aip{
    margin-top: 1px;
}